@()

@main("New Professor") {
<script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>
<div class="container">
<h1 class="titleHeaders">Admin Area</h1>
<hr>
<form method="POST" action="@routes.ProfessorController.addProfessor()" class="form-group">
    @helper.CSRF.formField
    Professor ID: <input type="text" name="id" class="form-control"/><br />
    First Name: <input type="text" name="firstName" class="form-control"/><br />
    Last Name: <input type="text" name="lastName" class="form-control"/><br />
    Email: <input type="text" name="professorEmail" class="form-control"/><br />
    <button class="btn btn-primary">Add Professor</button>
</form>
</div>


}
